################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EDI-Translator-Demo/v15/.suo
/.vs/EdiFabric.Translate/v15/Server/sqlite3
/.vs/EdiFabric.Translate/v15/.suo
/.vs
/EdiFabric.Translate.EDIFACT.Core20/bin/Debug/netcoreapp2.2
/EdiFabric.Translate.EDIFACT.Core20/obj
/EdiFabric.Translate.EDIFACT.Net45/bin/Debug
/EdiFabric.Translate.EDIFACT.Net45/obj/Debug
/EdiFabric.Translate.HIPAA.Core20/bin/Debug/netcoreapp2.2
/EdiFabric.Translate.HIPAA.Core20/obj
/EdiFabric.Translate.HIPAA.Net45/bin/Debug
/EdiFabric.Translate.HIPAA.Net45/obj/Debug
/EdiFabric.Translate.X12.Core20/bin/Debug/netcoreapp2.2
/EdiFabric.Translate.X12.Core20/obj
/EdiFabric.Translate.X12.Net45/bin/Debug
/EdiFabric.Translate.X12.Net45/obj/Debug
/packages
/EdiFabric.Translate.X12.Core20/.vscode
/EdiFabric.Translate.EDIFACT.Core31/bin/Debug
/EdiFabric.Translate.EDIFACT.Core31/obj
/EdiFabric.Translate.HIPAA.Core31/bin/Debug
/EdiFabric.Translate.HIPAA.Core31/obj
/EdiFabric.Translate.X12.Core31/bin/Debug
/EdiFabric.Translate.X12.Core31/obj
/EdiFabric.Translate.X12.Core31/.vscode
/EdiFabric.Examples.VDA.Common/bin/Debug
/EdiFabric.Examples.VDA.Common/obj/Debug
/EdiFabric.Examples.VDA.Read/bin/Debug
/EdiFabric.Examples.VDA.Read/obj/Debug
/EdiFabric.Examples.VDA.Write/bin/Debug
/EdiFabric.Examples.VDA.Write/obj/Debug
