################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EdiFabric.Examples.VDA
/NET Framework 4.8/.vs/EdiFabric.Examples.VDA
/NET Framework 4.8/EdiFabric.Examples.VDA.Common/bin
/NET Framework 4.8/EdiFabric.Examples.VDA.Common/obj
/NET Framework 4.8/EdiFabric.Examples.VDA.Read/bin
/NET Framework 4.8/EdiFabric.Examples.VDA.Read/obj
/NET Framework 4.8/EdiFabric.Examples.VDA.Write/bin
/NET Framework 4.8/EdiFabric.Examples.VDA.Write/obj
